<div>
        <h1>
            Crud básico
            <ul>
                <li><a href="http://localhost:3307/cad">Cadastro</a></li>
                <li><a href="http://localhost:3307/list">Listagem</a></li>
            </ul>
            
        </h1>
    </div>